##########  Bootloader defaults  ##########
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/timeout string -1
d-i grub-installer/bootdev string default
d-i grub-installer/force-efi-extra-removable boolean false
d-i grub-installer/update-nvram boolean true
d-i grub-installer/skip boolean false

##########  Finish defaults  ##########
d-i debian-installer/exit/halt boolean false
d-i debian-installer/exit/poweroff boolean false
d-i finish-install/keep-consoles boolean false
d-i finish-install/reboot_in_progress note
