# Desktop application archives and managed user-facing app bundle.
d-i pkgsel/include string code microsoft-edge-stable mullvad-browser
d-i pkgsel/include seen true

# Microsoft Visual Studio Code
d-i apt-setup/local5/repository string https://packages.microsoft.com/repos/code stable main
d-i apt-setup/local5/comment string Microsoft Visual Studio Code
d-i apt-setup/local5/key string https://packages.microsoft.com/keys/microsoft.asc
d-i apt-setup/local5/source boolean false

# Microsoft Edge
d-i apt-setup/local6/repository string https://packages.microsoft.com/repos/edge stable main
d-i apt-setup/local6/comment string Microsoft Edge
d-i apt-setup/local6/key string https://packages.microsoft.com/keys/microsoft.asc
d-i apt-setup/local6/source boolean false

# Mullvad Browser and VPN
d-i apt-setup/local7/repository string https://repository.mullvad.net/deb/stable stable main
d-i apt-setup/local7/comment string Mullvad Browser and VPN Archive
d-i apt-setup/local7/key string https://repository.mullvad.net/deb/mullvad-keyring.asc
d-i apt-setup/local7/source boolean false
