# Debian Distro
d-i mirror/codename string forky
d-i mirror/suite string forky
d-i mirror/udeb/suite string forky

# Debian Trixie (Stable)
d-i apt-setup/local1/repository string https://deb.debian.org/debian trixie main contrib non-free non-free-firmware
d-i apt-setup/local1/comment string Debian Trixie (Stable)
d-i apt-setup/local1/key string https://ftp-master.debian.org/keys/archive-key-13.asc
d-i apt-setup/local1/source boolean true

# Debian XanMod Kernel
d-i apt-setup/local2/repository string https://deb.xanmod.org forky main non-free
d-i apt-setup/local2/comment string XanMod kernel archive
d-i apt-setup/local2/key string https://dl.xanmod.org/archive.key
d-i apt-setup/local2/source boolean false

# OBS home:cramerz:debian Debian_Unstable
d-i apt-setup/local4/repository string https://downloadcontent.opensuse.org/repositories/home:/cramerz:/debian/Debian_Unstable/ /
d-i apt-setup/local4/comment string OBS home:cramerz:debian Debian_Unstable
d-i apt-setup/local4/key string https://downloadcontent.opensuse.org/repositories/home:cramerz:debian/Debian_Unstable/Release.key
d-i apt-setup/local4/source boolean false
