# amd64 kernel and EFI boot-chain defaults.
d-i pkgsel/include string grub-efi-amd64 grub-efi-amd64-signed shim-signed shim-helpers-amd64-signed linux-image-amd64 linux-headers-amd64
d-i pkgsel/include seen true
