# GitLab Runner
d-i apt-setup/local9/repository string https://packages.gitlab.com/runner/gitlab-runner/debian trixie main
d-i apt-setup/local9/comment string GitLab Runner Archive
d-i apt-setup/local9/key string https://packages.gitlab.com/gpgkey/gpg.key
# F6403F6544A38863DAA0B6E03F01618A51312F3F repo metadata signing key
d-i apt-setup/local9/source boolean false
d-i pkgsel/include string gitlab-runner aptly podman buildah golang-github-containers-common conmon crun uidmap netavark aardvark-dns passt slirp4netns fuse-overlayfs catatonit containernetworking-plugins golang-github-containernetworking-plugin-dnsname openssh-client dbus-user-session make build-essential devscripts debhelper debmake dpkg-dev lintian quilt sbuild mmdebstrap uidmap
d-i pkgsel/include seen true
